<div id="blackjack-table">
    <div id="dealer-area" class="table-area">
        <div id="dealer-placeholder" class="card-placeholder">
            <span class="player-name">Dealer</span>
            <div class="card-area">
            {{#if this.dealersTurn}}
               {{#each this.dealerCards as |card|}}
                    <img class="playing-card" src="{{card.img_uri}}" alt="Playing Card"/>
                {{/each}}
            {{else}}
                {{#each this.dealerCards as |card|}}
                    <img class="playing-card" src="assets/images/cards/card-back.svg" alt="Playing Card"/>
                {{/each}} 
            {{/if}}
            </div>
        </div>
    </div>
    <div id="player-area" class="table-area">
        <div class="card-placeholder">
            <div class="card-area">
                <div id="player-cards">
                    {{#each this.playerCards as |card|}}
                        <img class="playing-card" src="{{card.img_uri}}" alt="Playing Card"/>
                    {{/each}}
                </div>
                {{#if this.playersTurn}}
                    <div id="player-actions-container">
                        <button id="stand-btn" class="btn" type="button" {{on "click" this.endPlayersTurn}}>Stand</button>
                        <button id="hit-btn" class="btn" type="button" {{on "click" this.drawPlayerCard}}>Hit</button>
                    </div> 
                {{/if}}
            </div>
            <span class="player-name">Player</span>
        </div>
        <button id="new-game-btn" class="btn" type="button" {{on "click" this.startGame}}>New Game</button>
    </div>
</div>
{{#if this.gameOver}}
    <div id="game-result-container" {{on "click" this.startGame}}>
        <div id="game-result-message">{{this.gameResultMessage}}</div>
    </div>
{{/if}}
{{yield}}